<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" backupGlobals="false" colors="true" cacheDirectory=".phpunit.cache">
  <coverage/>
  <testsuites>
    <!-- Default test suite to run all tests -->
    <testsuite name="codecolorer">
      <directory suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./..</directory>
    </include>
    <exclude>
      <directory suffix=".php">./../lib</directory>
      <directory suffix=".php">./../tests</directory>
      <directory suffix=".php">./../vendor</directory>
    </exclude>
  </source>
</phpunit>
